{% extends 'JjhGsbBundle::layout.html.twig' %}
 {% block title %}
L'activité de GSB
{% endblock %}
{% block contenu %}
<br>
<h3>L’industrie pharmaceutique est un secteur très lucratif dans lequel le mouvement de fusion acquisition est très fort.</h3>
</br>
<h3>Les regroupements de laboratoires ces dernières années ont donné naissance à des entités gigantesques au sein desquelles le travail est longtemps resté organisé selon les anciennes structures.</h3> 
</br>
<h3>Des déboires divers récents autour de médicaments ou molécules ayant entraîné des complications médicales ont fait s'élever des voix contre une partie de l'activité des laboratoires : la visite médicale, réputée être le lieu d' arrangements entre l'industrie et les praticiens, et tout du moins un terrain d'influence opaque.</h3>
</br><br>


{% endblock %}