{% extends 'JjhGsbBundle::layout.html.twig' %}
{% block title %}Présentation{% endblock %}
{% block contenu %}
<h3>Le laboratoire Galaxy Swiss Bourdin (GSB) est issu de la fusion entre le géant américain Galaxy (spécialisé dans le secteur des maladies virales dont le SIDA et les hépatites) et le conglomérat européen Swiss Bourdin (travaillant sur des médicaments plus conventionnels), lui même déjà union de trois petits laboratoires .
En 2009, les deux géants pharmaceutiques ont uni leurs forces pour créer un leader de ce secteur industriel. L'entité Galaxy Swiss Bourdin Europe a établi son siège administratif à Paris. 
Le siège social de la multinationale est situé à Philadelphie, Pennsylvanie, aux Etats-Unis.</h3>
<h3>L'entreprise compte 480 visiteurs médicaux en France métropolitaine (Corse comprise), et 60 dans les départements et territoires d'outre-mer. Les territoires sont répartis en 6 secteurs géographiques (Paris-Centre, Sud, Nord, Ouest, Est, DTOM Caraïbes-Amériques, DTOM Asie-Afrique). </h3>
<h5>Vision partielle de cette organisation:</h5>
<p class="centre"> <img src="{{ asset('bundles/JjhGsb/images/carte.png') }}" alt="GSB en France" width="250" height="250" /></p>
{% endblock %}