{% extends 'JjhGsbBundle::layout.html.twig' %}
 {% block title %}
L'équipement du Système Informatique
{% endblock %}
{% block contenu %}
 <h3>L'informatique est fortement répandue sur le site. Chaque employé est équipé d'un poste fixe relié au système central. On dénombre ainsi plus de 350 équipements terminaux et un nombre de serveurs physiques conséquent (45 en 2012) sur lesquels tournent plus de 100 serveurs virtuels.</h3>
<br>
<h3>On trouve aussi des stations de travail plus puissantes dans la partie labo-recherche, et une multitude d'ordinateurs portables (personnels de direction, service informatique, services commerciaux, etc).</h3> 
 <br>
<h3>Les visiteurs médicaux reçoivent une indemnité bisannuelle pour s'équiper en informatique (politique Swiss-Bourdin) ou une dotation en équipement (politique Galaxy). Il n'y a pas à l'heure actuelle d'uniformisation des machines ni du mode de fonctionnement .</h3>
<br>
<h3>Chaque employé de l'entreprise a une adresse de messagerie de la forme nomUtilisateur@swiss-galaxy.com. Les anciennes adresses de chaque laboratoire ont été définitivement fermées au 1er janvier 2011. </h3>
<br>
{% endblock %}