{% extends 'JjhGsbBundle::layout.html.twig' %}
 {% block title %}
La gestion du Système Informatique
{% endblock %}
{% block contenu %}
<br> 
<h3>La DSI (Direction des Services Informatiques) est une entité importante de la structure Europe qui participe aux choix stratégiques. </h3>
<br>
 <h3>Pour Swiss-Bourdin, qui occupait le siège parisien avant la fusion, l'outil informatique et l'utilisation d'outils décisionnels pour améliorer la vision.</h3>
<br><br>
 <h3>La planification de l'activité ont toujours fait partie de la politique maison, en particulier pour ce qui concerne la partie recherche, production, communication et juridique.</h3>
<br><br><br>
{% endblock %}